<div class="cont">
    <div class="image" *ngFor="let method of methods">
        <button (click)="onClick(method.merchant)">
            <img src="assets/images/card.png" *ngIf="method.methodName == 'Card'">
            <img src="assets/images/qr.png" *ngIf="method.methodName == 'QR Code'">
            <img src="assets/images/paypal.png" *ngIf="method.methodName == 'PayPal'">
            <img src="assets/images/bitcoin.png" *ngIf="method.methodName == 'Bitcoin'">
        </button>
    </div>
</div>
