<div class="background">
    <h1>Subscripted WebShops</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No. </th>
            <th scope="col">WebShop</th>
            <th scope="col">New</th>
            <th scope="col">Methods</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of webShops, index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{item.webShopURI}}</td>
            <td><button class="btn" (click)="openAddDialog(item)">Add method</button></td>
            <td><button class="btn" (click)="openViewDialog(item)">View</button></td>
          </tr>
        </tbody>
      </table>
      <div class="input">
        <h2>Add new payment method</h2>
        <div class="form-group mb-4">
          <label for="method">Method name</label>
          <input type="text" class="form-control" id="method" [(ngModel)]="method.methodName" aria-describedby="method">
          <small id="method" class="form-text text-muted"></small>
          <label style="margin-top: 3%;" for="merchant">Merchant ID</label>
          <input type="text" class="form-control" id="merchant" [(ngModel)]="method.merchant_id" aria-describedby="method">
          <small id="merchant" class="form-text text-muted"></small>
          <label style="margin-top: 3%;" for="merchant">Merchant password</label>
          <input type="text" class="form-control" id="merchant" [(ngModel)]="method.merchant_password" aria-describedby="method">
          <small id="merchant" class="form-text text-muted"></small>
          <label style="margin-top: 3%;" for="merchant">Method Service Name</label>
          <!-- <input type="text" class="form-control" id="merchant" [(ngModel)]="method.methodServiceName" aria-describedby="method" placeholder="Service"> -->
          <small id="merchant" class="form-text text-muted"></small>
          <select 
          placeholder="Service"
          class="form-control" 
          [(ngModel)]="method.methodServiceName"
          id="methodService">
          <option value="BITCOIN">Bitcoin Service</option>
          <option value="PAYPAL">PayPal Service</option>
          <option value="UNICREDIT-SERVICE">Credit Card Service</option>
          <option value="UNICREDIT-SERVICE">Qr Code Service</option>
        </select>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn" (click)="addMethod()" style="width: 100px; margin-top: 6%;">
              Add
            </button>
          </div>
        </div>
      </div>
</div>
