<div class="background">
    <h1>Subscripted WebShops</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No. </th>
            <th scope="col">WebShop</th>
            <th scope="col">New</th>
            <th scope="col">Methods</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>WebShop 1</td>
            <td><button class="btn">Add method</button></td>
            <td><button class="btn">View</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>WebShop 1</td>
            <td><button class="btn">Add method</button></td>
            <td><button class="btn">View</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>WebShop 1</td>
            <td><button class="btn">Add method</button></td>
            <td><button class="btn">View</button></td>
          </tr>
        </tbody>
      </table>
</div>
